<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>jump1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>258</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>149</integer>
			<key>originalHeight</key>
			<integer>258</integer>
		</dict>
		<key>jump2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>272</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>193</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>167</integer>
			<key>originalHeight</key>
			<integer>193</integer>
		</dict>
		<key>jump3.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>184</integer>
		</dict>
	</dict>
</dict>
</plist>